{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<!--Não aparece na página é para configurção-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/exercise.png" type="image/x-icon">
    <title>IronBox - Contato</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
</head>

<body class="contact-page">
    <main class="pg-container">
        <nav class="menu" id="menu">
            <div class="logo">
                <p>Iron<span>Box</span></p>
            </div>
            <ul>
                <li><a href="index.html#Home"><i class="bi bi-house-heart-fill"></i><span>Home</span></a></li>
                <li><a href="index.html#sobre"><i class="bi bi-clipboard-heart-fill"></i><span>Sobre</span></a></li>
                <li><a href="index.html#entrar"><i class="bi bi-arrow-through-heart-fill"></i><span>Entrar</span></a></li>
                <li><a href="contato.html"><i class="bi bi-person-heart"></i><span>Contato</span></a></li>
            </ul>

        </nav>
        <div class="conteudo">
            <section class="sessao intro">
                <h2>Fale com a gente</h2>
                <p>Escreva uma mensagem rápida e entraremos em contato.</p>
            </section>

            <section class="sessao form-section">
                <h2>Enviar mensagem</h2>
                <div class="form-container">
                    <form action="#" method="post">
                        <div>
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id="nome" placeholder="Digite seu nome completo" maxlength="50" required>
                        </div>
                        <div>
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
                        </div>
                        <div>
                            <label for="mensagem">Mensagem</label>
                            <textarea name="mensagem" id="mensagem" rows="5" placeholder="Escreva suas duvidas" required></textarea>
                        </div>
                        <input type="submit" value="Enviar">
                    </form>
                </div>
            </section>

            <section class="sessao map-section">
                <h2>Nosso endereço</h2>
                <div class="map-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d543.7192021206355!2d-61.17892257205676!3d-11.683984939335073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93b7e5cefe348aa5%3A0x7b3a5395f10e5c35!2sR.%20U%2C%2013%20-%20Bnh%2C%20Pimenta%20Bueno%20-%20RO%2C%2076970-000!5e1!3m2!1spt-BR!2sbr!4v1778509848281!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </section>
        </div>
    </main>
    <div class="redes">
                <a href="#" class="rede instagram">
                    <i class="bi bi-instagram"></i>
                    Instagram
                </a>
                <a href="#" class="rede whatsapp">
                    <i class="bi bi-whatsapp"></i>
                    WhatsApp
                </a>
                <a href="#" class="rede facebook">
                    <i class="bi bi-facebook"></i>
                    Facebook
                </a>
            </div>


    <footer class="footer">
        <div class="footer-bottom">
            <p>&copy; 2026 Iron Box. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>