<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastrar Dica | Gold Box</title>
</head>

<body>

    <h1>Cadastrar nova dica</h1>

    <form method="post">

        {% csrf_token %}

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>

        <br><br>

        <label for="conteudo">Conteúdo:</label>
        <textarea id="conteudo" name="conteudo" required></textarea>

        <br><br>

        <label for="categoria">Categoria:</label>
        <input type="text" id="categoria" name="categoria" required>

        <br><br>

        <button type="submit">Cadastrar dica</button>

    </form>

    <br>

    <a href="{% url 'lista_dicas' %}">Voltar para dicas</a>

</body>
</html>